@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

 body {
	 font-weight: 100;
}
 input ::-webkit-input-placeholder {
	 color: #005479;
}
 input ::-moz-placeholder {
	 color: #005479;
}
 input :-ms-input-placeholder {
	 color: #005479;
}
 input:focus {
	 outline: 0 transparent solid;
}
 input:focus ::-webkit-input-placeholder {
	 color: rgba(0, 0, 0, 0.7);
}
 input:focus ::-moz-placeholder {
	 color: rgba(0, 0, 0, 0.7);
}
 input:focus :-ms-input-placeholder {
	 color: rgba(0, 0, 0, 0.7);
}
 .login-form {
	 background: #f5a302;
	 min-height: 10rem;
	 margin: auto;
	 max-width: 30%;
	 padding: 0.5rem;
}
 .login-text {
	 color: #033c59;
	 font-size: 1.5rem;
	 margin: 0 auto;
	 max-width: 50%;
	 padding: 0.5rem;
	 text-align: center;
}
 .login-text .fa-stack-1x {
	 color: #ffd35c;
}
 .login-username, .login-password {
	 background: #ffba41;
	 border: 0 solid;
	 border-bottom: 1px solid rgba(255, 255, 255, .5);
	 color: white;
	 display: block;
	 margin: 1rem;
	 padding: 0.5rem;
	 transition: 250ms background ease-in;
	 width: calc(100% - 3rem);
}
 .login-username:focus, .login-password:focus {
	 background: #ffd35c;
	 color: #0c1e34;
	 transition: 150ms background ease-in;
}
 .login-forgot-pass {
	 bottom: 0;
	 color: #ffd35c;
	 cursor: pointer;
	 display: block;
	 font-size: 75%;
	 left: 0;
	 opacity: 0.6;
	 padding: 0.5rem;
	 position: absolute;
	 text-align: center;
	 width: 100%;
}
 .login-forgot-pass:hover {
	 opacity: 1;
}
 .login-submit {
	 border: 1px solid;
	 background: #005479;
	 color: #f5a302;
	 display: block;
	 margin: 1rem auto;
	 min-width: 1px;
	 padding: 0.25rem;
	 transition: 250ms background ease-in;
}
 .login-submit:hover, .login-submit:focus {
	 background: #ffd35c;
	 color: black;
	 transition: 250ms background ease-in;
}
 [class*=underlay] {
	 left: 0;
	 min-height: 100%;
	 min-width: 100%;
	 position: fixed;
	 top: 0;
}
 .underlay-photo {
	 background: #0c1e34;
	 background-size: cover;
	 /* -webkit-filter: grayscale(30%); */
	 z-index: -1;
}
 .underlay-black {
	 background: #0c1e34;
	 z-index: -1;
}
 @keyframes hue-rotate {
	 from {
		 -webkit-filter: grayscale(30%) hue-rotate(0deg);
	}
	 to {
		 -webkit-filter: grayscale(30%) hue-rotate(360deg);
	}
}
 
/***********************************************************************************/
.card-color{
	background-color: #f5a302;
}
.defaut-text {
	color: #ffd35c;
}

/***********************************************************************************/
/* Basic */

a {
	color: #3CF;
    text-decoration: none;
}

a:hover {
	color: #FC3;
    text-decoration: none !important;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

p {
	font-size: 13px;
	line-height: 22px;
}


/* Header */

@media screen and (max-width: 1050px) {
  .main-header .logo {
      padding-left: 30px!important;
  }

  .main-menu {
      padding-right: 30px!important;
  }

  .main-menu li {
      margin-left: 5px!important;
  }
}

.main-header {
    background-color: rgba(22,34,57,0.95);
    height: 80px;
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
}

.main-header .logo {
    float: left;
    line-height: 80px;
    padding-left: 60px;
}

.main-header .logo a {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}
.main-header .logo a em {
    font-style: normal;
    color: #f5a425;
}

.main-menu {
    float: right;
    padding-right: 60px;
}

.main-menu li {
    display: inline-block;
    line-height: 79px;
    margin-left: 15px;
    position: relative;
}

.main-menu li:first-child {
    margin-left: 0px;
}

.main-menu li a {
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.main-menu li.has-submenu a:after {
    content: '\f107';
    font-family: "FontAwesome";
    margin-left: 5px;
}

.main-menu li.has-submenu ul li a:after {
    display: none;
}

.main-menu li .sub-menu {
    position: absolute;
    width: 160px;
    background-color: #18233a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.main-menu li .sub-menu li {
    display: block;
    line-height: 20px;
    margin-left: 0px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child {
    padding-top: 15px;
}

.main-menu li .sub-menu li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.main-menu li .sub-menu li a {
    font-size: 12px;
    font-weight: 500;
    padding: 0px 15px;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover {
    color: #f5a425;
    border: none;
}

.main-nav li:hover a,
.main-nav li.active a {
    border: 1px solid #f5a425;
}

@media (max-width: 950px) {
  .main-nav li:hover a,
  .main-nav li.active a {
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(250,250,250,0.25);
  }
}


/* ************************************************** */
.social-login{
	background-color: #ffd35c;
}
.google-img{
	margin: 2px;
	width: 28px;
	height: 28px;
}
.google-text{
	font-size: 14px;
	color:white
}
.naver-img{
	width: 32px;
	height: 32px;
}
.google-banner{
	display: inline-block;
	height: 36px;
	margin: 3px;
	padding: 3px;
	border-radius: 5px;
	background-color:#4285F4
}
.naver-banner{
	margin-top: 2px;
	margin-bottom: 10px;
	padding: 3px;
	border-radius: 5px;
	background-color:#1EC800
}
.font-login{
	color:wheat;
	font-weight:100;
}