{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block css %}
  <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
{% endblock %}

{% block title %}
login
{% endblock %}

{% block content %}
<div style="margin-top:8rem;">
  <form action="" method="POST"  class="login-form">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="login-submit">Login</button>
    <hr>
    <div>
      <div style="width:10%">
        <img src="https://t1.daumcdn.net/cfile/tistory/990F274A5C15AA3238" alt="">
      </div>
      <div>
      </div>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQb93sjSI5hrWVQzD3NoQ1fU3M3xQtWPKACw&usqp=CAU" alt="">
    <a href="{% provider_login_url 'google'%}" >구글 로그인</a><br>
    <a href="{% provider_login_url 'naver' %}" >네이버 로그인</a><br>
  </form>
</div>

<div class="underlay-photo"></div>
<div class="underlay-black"></div>
{% endblock %}

