{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
{% endblock %}

{% block title %}
signup
{% endblock %}

{% block content %}
<div style="margin-top:8rem;">
  <form method="POST" action="" class="login-form">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>
    {%csrf_token%}
    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="alert alert-warning" role="alert"> {{ error |escape }}</div>
        {% endfor %}
      {% endif %}
        <div class="form-group">
          {{ field.label }}
          {{field}}
        </div>
    {% endfor %}
    <button type="submit" class="login-submit">Submit</button>
  </form>
</div>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
{% endblock %}
