{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'stylesheets/articles_detail.css' %}">
  {% endblock %}
{% block content %}

<h1 class="text-center mt-3"> 리뷰 </h1>
<div class="row">
  <!--리뷰작성-->
  <div class="col-7">
    <div class="article rounded-top">
      <!--제목 -->
      <div class="row justify-content-between m-0 article-header align-items-center p-1">
        <span>
          {{article.title}}
        </span>
        <span>
          {% if article.updated_at != article.created_at %}
          <span>수정 : {{article.updated_at}}</span>
          {% else %}
          <span>{{article.created_at}}</span>
          {% endif %}
        </span>
      </div>
      <div class="article-content p-1">
        <div class="pt-2">
          {{article.content}}
        </div>
      </div>
      <div class="m-0 line pb-2 d-flex flex-column align-items-center">
        <div>
          나의 평점 : <span style="background-color:#005479">{% if article.rating == 1 %}⭐
          {%elif article.rating == 2 %}⭐⭐
          {%elif article.rating == 3 %}⭐⭐⭐
          {%elif article.rating == 4 %}⭐⭐⭐⭐
          {% else %}⭐⭐⭐⭐⭐
          {% endif %}</span>
        </div>
        <div>
          좋아요 : <span id="likeCount-{{article.pk}}" class="d-inline">{{ article.like_user.all|length }}</span>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="pl-3 pr-3">
          <!-- 좋아요 -->
          <form action="{% url 'articles:like' article.pk %}"method="POST" id="form_like" data-articleId="{{article.pk}}" class="d-inline">
            {% csrf_token %}
            {% if user in article.like_user.all %}
              <button class="btn btn-link" style="box-shadow: none !important;">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill heart-{{article.pk}}" style="color:crimson;" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
              </button>
            {% else %}
              <button class="btn btn-link" style="box-shadow: none !important;">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill heart-{{article.pk}}" style="color:black;" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                
              </button>
            {% endif %}
          </form>
        </div>
        <div class="row">
          <div class="pl-3 pr-3 d-flex justify-content-center align-items-center">
            <a href="{% url 'articles:update' article.pk %}">수정</a>
          </div>
          <div class="pr-3 d-flex justify-content-center align-items-center">
            <form action="{% url 'articles:delete' article.pk %}" method="POST">
              {% csrf_token %}
              <input class="delete-btn" type="submit" value="DELETE">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <h4>댓글 목록</h4>
      {% for comment in comments %}
        <div class="comment-item rounded p-1 d-flex felx-column justify-content-between">
          <div><strong>{{ comment.user }}</strong> - {{ comment.content }}</div>
          <div>
            {% if request.user == comment.user %}
              <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <input class="delete-btn pt-0 pb-0" type="submit" value="X">
              </form>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <p><b>댓글이 없어요..</b></p>
      {% endfor %}
      <hr>
      {% if request.user.is_authenticated %}
        <form action="{% url 'articles:create_comment' article.pk %}" method="POST">
          {% csrf_token %}
          {{ comment_form }}
          {% comment %} <input type="submit" class="submit-btn"> {% endcomment %}
        </form>
      {% else %}
      <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
      {% endif %}
    </div>
    <div class="article-footer rounded-bottom">
      <div class="d-flex justify-content-end">
        <div class="pl-3 pr-3">
          <a href="{% url 'articles:index' %}">[back]</a>
        </div>
      </div>
    </div>
  </div>
  <!--영화정보-->
  <div class="col-5 article rounded-top ">
    <div class="d-flex justify-content-center ">
      <div class="col-7">
        <img src="https://image.tmdb.org/t/p/w500/{{article.movie.poster_path}}" alt="" width="100%"> 
      </div>
    </div>
    <div class="movie-content p-2 rounded">
      <div class="d-flex justify-content-between">
        <div>{{article.movie.title}}</div>
        <div>Release : {{article.movie.release_date}}</div>
      </div>
      <br>
      <div>{{article.movie.overview}}</div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script>
  const likeBtnForm = document.querySelector('#form_like')
  const articleid =likeBtnForm.dataset.articleid
  console.log(likeBtnForm.dataset)
  console.log(articleid)
  likeBtnForm.addEventListener('click',function (e) {
    e.preventDefault() 
    
    const API_URL = `/articles/${articleid}/like/`
    const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
    const options = {headers: {'X-CSRFToken': csrfToken}}

    axios.post(API_URL,{},options)
      .then(res => {
        
        const { is_like,like_count } =res.data 
        const likecart = document.querySelector(`.heart-${articleid}`)
        likecart.style.color= is_like ? 'crimson' : 'black'

        const likeCount = document.querySelector(`#likeCount-${articleid}`)
        likeCount.innerText = `${like_count}`
        
      })
      .catch(res => {
        console.log(res.data)
      })
  })
</script>
{% endblock script %}