{% extends 'base.html' %}

{% block content %}



<div>
<a href="{% url 'game:movie_detail' random_movie.pk%}" style="color:#f5a425;">{{random_movie.title}}</a>
</div>

{% endblock content %}

<!--
html5-video-player ytp-exp-bottom-control-flexbox ytp-exp-bigger-button ytp-title-enable-channel-logo ytp-embed ytp-embed-playlist paused-mode
html5-video-player ytp-exp-bottom-control-flexbox ytp-exp-bigger-button ytp-title-enable-channel-logo ytp-embed ytp-embed-playlist ytp-autohide playing-mode

<iframe width="560" height="315" src ="{{youtube}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->