{% extends "base.html" %}

{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'stylesheets/play_game.css' %}">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/ui-lightness/jquery-ui.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css">
{% endblock %}

{% block title %}
  Play game
{% endblock %}

{% block content %}

<h1> 🎮 PLAY THE GAME </h1>
<div class="roulette_container" >
  <div class="roulette" style="display:none;">
    <!-- 원하는 포스터 가져오기 -->
    {% for movie in movies %}
    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" width=350 height=500>
    {% endfor %}
  </div>
  <div class="btn_container">
    <p>
    <button class="stop" @click="test"> STOP </button>
    </p>
</div>

{% endblock %}
	
{% block script %}
  <script src="{% static 'stylesheets/roulette.js' %}"></script>
  <script src="{% static 'stylesheets/randomRoulette.js' %}"></script>
  <script>
 
  </script>
{% endblock%}